*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../assets/images/background-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100% 300px;
    background-color: #FAEEFF;
    font-family: 'work sans','san serif';
    height: 100vh;
    display: grid;
    place-content: center;
}

.container{
    background-color: rgb(255, 255, 255);
    max-width: 500px;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 16px;  
    box-shadow: 20px;
    border: solid gray;
}

.sub-container{
    display: flex;
    gap: 0.5rem;
}
h4{
    font-weight: bold;
}
.container_1{
    display: flex;
    gap: 13px;
   align-items: center;
}  
button{
    cursor: pointer ;
    background-color: transparent;
    width: 1rem 0;
    font-weight: 600;
    text-align: center;
    justify-content: space-between;
    gap: 1rem;
    border: 0;
}
button:hover{
    color: purple;
}
.question-container .list-question:not(:last-child){
    border-bottom: 1px solid rgb(194, 184, 184);
}


.feedback-1{
 
   padding-bottom: 10px;
   color: gray;
}
 